@charset "UTF-8";

@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url("./Montserrat-Regular.woff2") format("woff2");
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Bold';
	src: url("./Montserrat-ExtraBold.woff2") format("woff2");
}

*, 
*::before, 
*::after { 
    box-sizing: border-box; 
}

html { 
    background-size: cover; 
    font-family: 'Montserrat', Trebuchet, sans-serif; 
    font-size: 16px; 
    line-height: 1.5em; 
}

body { 
    display: block; 
    min-height: 100vh; 
    margin: 0; 
    text-rendering: optimizeSpeed;
}

img, picture { 
    max-width: 100%; 
    display: block; 
}

input, 
button, 
textarea, 
select { 
    font: inherit; 
}

strong { 
    font-weight: 900; 
}

a {
    color: #627500;
}

a:hover {
    color: #000;
}

.screen-readers {  /*sr-only tailwind, nu ii da display none*/
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.button {
    display: block;
    padding: 0.5em 1em;
    background: #627500;
    color: #fff;
    font-weight: normal;
    text-align: center;
    border-radius: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
        background: #000;
        color: #fff;
    }

}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


/***********************/



.container {
    
    
}
    .header{
        display: flex;
        background: white;
        box-shadow: 0 1em 1em rgba(0,0,0,0.1);
        position: sticky;
        top: 0;
        height: 2.75rem;
        z-index: 2;
    }

        .logo {
            display: block;
            height: 3.75rem;
            background: #627500;
            box-shadow: 0 0.5em 0.5em rgba(0,0,0,0.1);
            position: relative;
            z-index: 1;

        }

            .logo-image {
                display: block;
                width: 3.75rem;
                height: 3.75rem;
            }

        .trigger-button {
            display: block;
            margin: 0;
            padding: 0.375rem;
            background: transparent;
            border: none;
            appearance: none;
            cursor: pointer;
            &:hover {
                background-color: #eee;
            }
        }

            .menu-trigger {
                &.Active {
                    background: #eee;
                }
            }

            .cart-trigger {

            }

                .trigger-image {
                    display: block;
                    width: 2rem;
                    height: 2rem;
                }

                    .menu-trigger-image {

                    }

                    .cart-trigger-image {

                    }



        .search-form {
            flex-grow: 1;
            padding: 0.1875rem;
        }

            .fieldset {
                 display: block;
                 padding: 0;
                 border: none;
                 position: relative;   
            }

                .legend {
                    display: none;
                    
                }

                .label {
                    display: block;
                    cursor: pointer;
                    &:hover {
                        color: #627500;
                    }
                }
                

                    .search-label {

                    }

                        .search-label-text {

                        }

                        .input {
                            display: block;
                            padding: 0 0.5em;
                            width: 100%;
                            height: 2.375rem;
                            line-height: 2rem;
                            border: 1px solid #777;
                            border-radius: 1em;
                            outline: none;
                        }

                            .search-input {

                            }

                .submitbutton {

                }

                    .search-submit {
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        border-top-right-radius: 1rem;
                        border-bottom-right-radius: 1rem;
                        border: 1px solid #777;
                    }

                        .search-submit-image {
                            display: block;
                            width: 1.5rem;
                            height: 1.5rem;
                        }
        .main-menu {
            display: none;
            height: calc(100vh - 2.75rem);
            position: absolute;
            padding: 1rem 0;
            top: 2.75rem;
            right: 0;
            bottom: 0;
            left: 0;
            background: #eee;
            overflow-y: auto;

            @media (min-width: 1024px){
                height: initial;
                padding: 0;
                bottom: initial;  /*adica daca main-menu nu ar fi fost position:absolute, ci normal*/
                left: initial;
                overflow-y: initial;
                box-shadow: 0 1em 1em rgba(0,0,0,0.2);
            }
        }

        /*.menu-trigger:active + .main-menu,
        .menu-trigger:focus + .main-menu {
            display: block;
        } -- am facut cu js partea asta-- */

        .main-menu.Active {
            display: block;
        }

            .main-menu-list {
                display: block;
                padding: 0;
                margin: 0;
            }

                .main-menu-item {
                    display: block;
                }

                    .main-menu-link {
                        display: block;
                        padding: 0.5em 1em;
                        color: #222;
                        background: transparent;
                        font-size: 1.5em;
                        font-weight: 700;
                        text-decoration: none;
                        &:hover {
                            color: #627500;
                            background: white;
                        }
                    }

                    .main-menu-sublist {
                        display: block;
                        padding: 0;
                        margin: 0;
                    }

                        .main-meniu-subitem {
                            display: block;
                           

                        }

                            .main-menu-sublink {
                                display: block;
                                padding: 0.75em 1.5em;
                                text-decoration: none;
                                color: #222;
                                background: transparent;
                                &:hover {
                                    color: #627500;
                                    background: white;
                                }
                            }


    .main {

    }

        .slider {
            display: block;
            position: relative;
            max-width: 86rem;
            margin: 0 auto;
        }

            .slider-list {
                display: block;
                margin: 0;
                padding: 0;
                margin: 0 0 4.5rem;
            }

                .slider-item {
                    display: none;
                    &.active {
                        display: block;
                        animation: fadeIn 0.5s ease-in-out both;

                    }
                }

                    .slider-link {
                        display: block;
                    }

                        .slider-image {
                            display: block;
                        }

                            .slider-image img {
                                display: block;
                                width: 100%;
                                height: auto;
                            }
            
            .slider-controls {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                
            }

                .slider-arrows {
                    display: block;
                    position: absolute;
                    z-index: 1;
                    top: 25vw;
                    padding: 0 4vw;
                    &:hover {
                        opacity: 0.5;
                    }
                    @media (min-width: 750px) {
                        top: 13vw;
                    }
                    @media (min-width: 1375px) {
                        top: 12rem;
                        padding: 0 2rem;
                    }
                }

                    .slider-prev {
                        left: 0;
                    }

                    .slider-next {
                        right: 0;
                    }

                        .slider-arrow-image {
                            display: block;
                            width: clamp(1.5rem, 5vw ,4rem);
                            height: auto;

                        }

                        .slider-prev .slider-arrow-image{
                            transform: rotate(180deg);
                        }


                .slider-picker {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;  //items din flex sa se dispuna pe o linie
                    max-width: calc(100vw - 20px);
                    overflow: auto;
                    padding: 0 0 0 0.5rem;
                    margin: 0;
                    position: absolute;
                    bottom: -4rem;
                    list-style: none;
                    @media (min-width: 750px) {
                        width: 100%;
                        justify-content: center;
                    }
                    
                }

                    .slider-picker-item {
                        display: block;
                        margin: 0.5rem 2px 0.5rem 0;
                    }

                        .slider-picker-link {
                            display: block;
                            width: 3em;
                            height: 3em;
                            background: white;
                            border: 2px solid #627500;
                            border-radius: 50%;
                            &:hover {
                                border-color: black;
                                background: #627500;
                            }
                            .active & {
                                background: #627500;
                            }
                            .active &:hover {
                                background: black;
                            }
                        }

                            .slider-picker-text {
                                display: block;
                                width: 0;
                                white-space: nowrap;
                                overflow: hidden;
         
                            }
        .features {
            display: block;
            padding: 1rem 0 0;
        }

            .features-title {
                display: block;
                margin: 1rem;
                font-size: 2rem;
                line-height: 1em;
                text-align: center;
            }

            .featured-list {
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0 0 1em;
                list-style-type: none;
                justify-content: center;
                @media (min-width: 750px) {
                    flex-direction: row;
                }
            }

                .featured-item {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    margin: 0 0 1em;
                    padding: 0 1em;
                }

                    .featured-item img {
                        display: block;
                    }

                    .feature-item-title {
                        display: block;
                        margin: 0 0 0.5rem;
                        font-size: 1.5rem;
                        line-height: 1em;
                    }
            
                    .feature-paragraph {
                        display: block;
                    }

            .main-feature { 
                display: flex;
                flex-direction: column;
                align-items: center;
                border-top: 1px solid #eee ;
                padding: 1rem 0;
                text-align: center;
                @media (min-width: 750px) {
                    flex-direction: row;
                    justify-content: center;
                }
            }

                .main-feature img {
                    display: block;
                }

                .main-feature-paragraph {
                    display: block;
                    margin: 1em;
                }
        
        .book-grid {
            display: block;
            padding: 1rem 0;
            background: rgba(166, 177, 126, .14);
        }

            .book-grid-title {
                display: block;
                margin: 1rem;
                font-size: 2rem;
                line-height: 1em;
            }

            .book-grid-list {
                display: block;
                margin: 0;
                padding: 0;
                list-style-type: none;
                @media (min-width: 650px) {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                }

            }

                .book-grid-item {
                    display: block;
                    clear: both;
                    position: relative;
                    margin: 1rem 0;
                    border-bottom: 1px solid #ddd;
                    padding: 0 0 1rem 0;
                    @media (min-width: 650px) {
                        margin: 0;
                        border-bottom: none;
                        padding: 0;
                    }
                }

                    .book-grid-link {
                        display: block;
                        color: #333;
                        text-decoration: none;
                        padding: 0 1rem 0;
                        @media (min-width: 650px) {
                            margin: 1rem;
                            background: white;
                            box-shadow: 0 1em 1em rgba(0, 0, 0, 0.1);
                            position: relative;
                            border-bottom: 2rem solid #eee;
                        }
                        &:hover {
                            box-shadow: 0 0.5em 0.5em rgba(121, 153, 0, 0.5);
                        }
                    }

                        .book-grid-thumbnail {
                            display: block;
                            width: 100%;
                            height: auto;
                            margin-bottom: 1rem;
                            @media (min-width: 380px) {
                                float: left;
                                width: 33%;
                                height: auto;
                                margin: 0.5rem 0.5rem 0 0;
                            }
                            @media (min-width: 580px) {
                                width: 11rem;
                                height: auto;
                            }
                            @media (min-width: 650px) {
                                width: 100%;
                                height: auto;
                                max-width: 300px;
                                margin: auto;
                            }
                        }

                        .book-title {
                            display: block;
                            margin: 0.25rem 0;
                            font-size: 1rem;
                            line-height: 1.5em;
                        }

                        .book-author {
                            display: block;
                            margin: 0.25rem 0;
                            color: #627500;
                            font-weight: normal;
                            text-transform: uppercase;
                            font-size: 1rem;
                            line-height: 1.5em;
                        }

                        .book-description {
                            display: block;
                            margin: 0.25rem 0;
                            @media (min-width: 480px) {
                                overflow: hidden;  //ca textul sa nu mai inconjoare poza de la 480px
                            }
                            @media (min-width: 650px) {
                               display: none;
                            }
                        }

                        .price {
                            display: block;
                            padding: 0.25rem 0.5rem;
                            background: #fff;
                            clear: both;
                            font-size: 1.5rem;
                            line-height: 1em;
                            text-align: right;
                            @media (min-width: 650px){
                                position: absolute;
                                bottom: -2rem;
                                right: 0;
                                text-align: left;
                                background: transparent;
                            }
                        }

                            
                            .price span span {
                                display: inline-block;
                                margin: 0 -0.25em;
                                position: relative;
                                top: -0.25em;
                                font-size: 0.6666em;
                                border-bottom: 3px solid #eee;
                                line-height: 1;
                                
                            }

                        .availability {
                            display: flex;
                            position: absolute;
                            margin-top: -2rem;
                            @media (min-width: 650px) {
                                left: 0;
                                bottom: -2rem;
                                margin-top: 0;
                            }
                            
                        }

                            .available-tag {
                                display: block;
                                background: #f4bb3a;
                                padding: 0.3333em 0.5em;
                                text-transform: uppercase;
                                font-size: 0.75rem;

                                .availability-limited & {
                                    background: #e81c24;
                                    color: white;
                                }
                                .availability-unavailable & {
                                    background: #777;
                                    color: white;

                                }
                                .availability-preorder & {
                                    background: #53acb4;
                                    color: white;

                                }
                            }

                            .available-duration {
                                display: none;
                                padding: 0.25em;
                                font-size: 0.75rem;
                                .availability-in-stock & {
                                    display: block;
                                }
                    
                            }

                        .discount {
                            display: none;
                            position: absolute;
                            right: 0;
                            top: 0.5rem;
                            padding: 0.25em 0.5em;
                            background: #ff6e40;
                            color: white;
                            
                            .discounted & {
                                display: block;
                            }
                            @media (min-width: 650px) {
                                right: -0.5rem;
                            }

                        }

    .footer {
        display: block;
        padding-bottom: 1px;
        background: #eee;
        border-top: 1px solid #ddd;

    }

        .footer-container {
            max-width: 86rem;
            margin: auto;
            @media (min-width: 820px) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-areas: 
                    "links misc newsletter"
                    "contact payment security"
                    "copyright copyright copyright";
            }
            @media (min-width: 1080px) {
                column-gap: clamp(2rem, 3vw, 4rem);
                row-gap: 1em;
            }

            
        }

            .footer-section {
                display: block;
                
            }

                .footer-links {
                    grid-area: links;
                    @media (min-width: 500px) {
                        float: left;
                        width: 50%;
                    }
                    @media (min-width: 820px) {
                        float: none;
                        width: auto;
                    }
                }

                    .footer-title {
                        display: block;
                        font-size: 1rem;
                        padding: 0 1em;
                        margin: 2em 0 1em;
                        @media (min-width: 1100px) {
                            font-size: 1.5em;
                            line-height: 1.5em;
                            margin: 1.3333em 0 0.666em;
                            padding: 0 0.5em;
                        }
                    }

                    .footer-links-list {
                        display: block;
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        .footer-copy & {
                            @media (min-width: 700px) {
                                display: flex;
                                flex-direction: row;
                                font-size: 0.75rem;
                                line-height: 1.5em;
                            }
                            @media (min-width: 990px) {
                                width: 33.3333%;
                            }
                        }
                    }

                        .footer-links-items {
                            display: block;
                        }

                            .footer-link {
                                display: block;
                                position: relative;
                                border-top: 1px solid white;
                                border-bottom: 1px solid #ddd;
                                padding: 0.5em 1em;
                                text-transform: uppercase;
                                color: #555;
                                text-decoration: none;
                                &:after {
                                    content: '\203A';
                                    display: block;
                                    position: absolute;
                                    font-size: 2em;
                                    padding: 0.25em;
                                    right: 0;
                                    top: 0;
                                    line-height: 0.5em;
                                }
                                &:hover{
                                    background: #ddd;
                                    color:#000;
                                }
                                .footer-copy & {
                                    @media (min-width: 700px) {
                                        border: none;
                                        padding: 1em;
                                        text-transform: none;
                                        color: #627500;
                                        white-space: nowrap;
                                            &:after {
                                                display: none;

                                            }
                                    }
                                }
                            }

                .footer-misc {
                    grid-area: misc;
                    @media (min-width:500px) {
                        overflow: hidden;
                    }
                    @media (min-width:820px) {
                        overflow: hidden;
                    }
                }

                    .footer-paragraph {
                        display: block;
                        padding: 0 1em;
                        .footer-copy & {
                            @media (min-width: 700px) {
                                font-size: 0.75rem;
                                line-height: 1.5em;
                            }
                            @media (min-width: 990px) {
                                width: 100%;
                                text-align: right;
                            }
                            
                        }
                    }

                    .footer-social-list {
                        display: flex;
                        flex-wrap: wrap;
                        list-style-type: none;
                        margin: 0;
                        padding: 0 1em;
                    }

                        .footer-social-item {
                            display: block;
                            margin: 0 1rem 1rem 0;
                        }

                            .footer-social-link {
                                display: block;
                                padding: 0.25rem;
                                background: #ccc;
                                border-radius: 0.25rem;
                                &:hover {
                                    background: #627500;
                                }
                            }

                                .footer-social-link svg {
                                    display: block;
                                    width: 2.25rem;
                                    height: 2.25rem;
                                    & * {
                                        fill: white;
                                    }
                                }

                .footer-newsletter {
                    grid-area: newsletter;
                    clear: both;
                    @media (min-width:500px) {
                        padding-top: 1px;
                    }
                    @media (min-width: 820px) {
                        padding-top: 0;
                        
                        
                    }
                }

                    .footer-newsletter-form {
                        display: block;
                        padding: 0 1em;
                    }

                        .newletter-label {
                            display: block;
                            padding: 0 0 1em;
                        }

                            .newsletter-label-text {

                            }

                            .newsletter-input {

                            }

                        .newsletter-submit {
                            display: block;
                            padding: 1em;
                            background: #627500;
                            color: white;
                            font-weight: bold;
                            text-transform: uppercase;
                            border: none;
                            width: 100%;
                            cursor: pointer;
                            border-radius: 1em;
                            &:hover{
                                color: white;
                                background: black;
                            }
                        }

                .footer-contact {
                    grid-area: contact;
                    
                }

                .footer-payment {
                    grid-area: payment;
                    
                }

                .footer-security {
                    grid-area: security;
                   
                }

                .footer-copy {
                    grid-area: copyright;
                    
                    @media (min-width: 700px) {
                        display: flex;
                        flex-direction: row;
                        border-top: 1px solid #ddd;       
                    }

                }
/***********************/


@media (prefers-reduced-motion: reduce) {
	html:focus-within { scroll-behavior: auto; }
	*, *::before, *::after { animation-duration: 0.01ms !important; animation-iteration-count: 1 !important; transition-duration: 0.01ms !important; scroll-behavior: auto !important; }
}

@media print {

	* { background-image: none; background: white; color: black; }

	@page { margin: 2cm; }
	@page :first { margin-top: 3cm; }
	@page :left { margin-right: 3cm; }
	@page :right { margin-left: 3cm; }

	html { background: white; font-size: 12pt; line-height: 1.5em; }

	a:link, a:visited { color: #00f; background: transparent; font-weight: bold; }
	a:not([href^="http"]):after { content: " (" attr(href) ")"; font-size: 0.9em; }
	a[href^="/"]:after { content: " (https://viorelmocanu.github.io/LinkInBio" attr(href) ") "; }
	/*a:not(:local-link):after { content: " (" attr(href) ")»"; }*/
	a:after > img { content: ""; }

	body::after { content: "Copyright © Viorel Mocanu, toate drepturile rezervate."; display: block; text-align: center; }

	.Container { background: transparent; margin: 0; padding: 0; }

	h1, h2, h3, h4, h5, h6 { page-break-after: avoid; page-break-inside: avoid }
	h1 + h2 { page-break-before: avoid; }

	table, pre, img, svg, blockquote, a { break-inside: avoid; }

	ul, ol, dl { page-break-before: avoid; }

	.TitlulPaginii { padding-top: 0.5em; }
	.ListaText { display: inline; color: #00f; white-space: normal; text-decoration: underline; }

}